.navbar {
    margin-bottom: 0;
    a {
        color: set-text-color($main-color) !important;
    }
    .fa {
        font-size: 22px;
    }
}

.showcase {
    background: url(../img/show.jpg) no-repeat;
    height: 600px;
    padding: 30px 0;
    h1 {
        font-size: 60px;
    }
    .container {
        background: #fff;
        opacity: 0.8;
        padding: 20px 30px 20px 30px;
    }
}

.section-a {
    padding: 30px 0;
    text-align: center;
    background: $main-color;
    color: set-text-color($main-color);
    .fa {
        font-size: $icon-size;
    }
}

.section-b {
	background: #E5E1E0;
	padding :30px 0;

	img {
		width: 100%;
	}
}

.panel-heading h4{
	color : set-text-color($main-color);
}

.section-c{
	padding : 60px 0 ;
	text-align: center;
	background: $main-color;
	color : set-text-color($main-color);

	.btn-primary{
		background: darken($main-color , 10%);
	}
}

footer{
	padding : 30px 0 ;
	background: darken($main-color , 10%);
	color : set-text-color($main-color);
}

.title-bar{
	background: url(../img/show.jpg) no-repeat 0 -300px;
	padding-bottom : 10px;
	border-bottom : 4px solid $main-color;
}
.main {
	margin-top:30px;
}